apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
patchesStrategicMerge:
- service.yaml
images:
- name: docker.io/nightmar39/flask-bg-app
  newName: docker.io/salesdemosa/flask-cz
  newTag: f9ab406
